*{
    padding: 0;
    margin: 0;
    background-color: #EBEBEB;
}

.main{
    width: 500px;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

/* text editor header
 */
 .menu{
    background-color: #ecf0f1 ;
    padding: 5px;
 }
 .menu .btnn{
   border: none; 
   outline: none;
   background-color: transparent;
   margin-right: 5px;

 }
 .content{
    min-height: 200px;
    border: 1px solid #ecf0f1;
    border-top: 0px;
    padding: 20px;
 }

 .downbtnn{
    position: absolute;
    bottom: 45px;
    right: 45px;
 }
 
