*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(rgba(120, 101, 33, 0.45),rgba(241, 243, 125, 0.35));
    height: 4rem;
    width: 100%;
    text-align: center; 
    font-size: 1.5rem;
}
header>div>img{
    margin-top: 0.35rem;
    height: 6rem;

}
main{
    background-color: #EBEBEB;
    /* height: 100vh; */
}
    


/* menu css */
#menu{
    display: flex;
    justify-content: center;
}

.menu{
    margin-top: 3rem;
    height: 3rem;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    border-radius: 2rem;
}

.btnn{
    
    background:  #D9D9D9;
    padding: 0rem 1.75rem;
}
button{
    font-size: 2rem;
    border: none;
    background:  #D9D9D9;
}

.downbtnn{
    position: absolute;
    bottom: 45px;
    right: 45px;
 }
 
 .content{
    margin: 2rem auto 4rem auto;
    
    height: 506px;
    /* border: 55px solid #EBEBEB; */
    width: 75%;
    border-top: 0px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
 }
footer{
    background-color: #FBE8C2;
    width: 100%;
    height: 2rem;
    position: fixed;
    text-align: center; 
    bottom: 0;
    font-size: 1rem;
    padding-top: 0.5rem;
}