.text-bold{
    font-weight: bold;
}

.text-italics{
    font-style: italic;
}

.text-underline{
    text-decoration: underline; 
}

.text-strike{
    text-decoration: line-through ;
}

.text-al-left{
    text-align: left;
}

.text-al-center{
    text-align: center;

}

.text-al-right{
    text-align: right;

}